
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color:rgb(176, 240, 176); 
    font-size: 50px;
    text-align: center;
    color:darkred; 
    font-family: Arial, sans-serif;
}

.game {
    height: 448.688px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid {
    height: 384.594px;
    width: 384.594px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

#reset {
    padding: 10px;
    font-size: 30px;
    background-color: darkred; 
    color: #ffffff; 
    border-radius: 1rem;
    border: none;
    margin-top: 20px;
}

.square {
    font-size: 70px;
    color: #ffffff; 
    height: 115.375px;
    width: 115.375px;
    border-radius: 1rem;
    border: none;
    background-color: #003049; 
}

.square:hover {
    background-color: #14597e98; 
}

#new-game {
    padding: 10px;
    font-size: 30px;
    background-color: darkred; 
    color: #ffffff; 
    border-radius: 1rem;
    border: none;
    margin-top: 20px;
}

#win, #nowin {
    color: #333333;
    font-size: 50px;
    margin-top: 20px;
}

.winner, .nowinner {
    color:#003049;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hide {
    display: none;
}
